<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<div th:each="entry:${entries}">
    <p th:text="${entry.name}">Edit</p>
    <p th:text="${entry.comment}">message text</p>
    <a th:href="@{/edit/} + ${entry.id}">Edit</a>
    <form method="POST" th:object="${entry}" th:action="@{/delete/} + ${entry.id}">
        <input type="submit" value="Delete" />
    </form>
    <hr/>
</div>


<form th:action="@{/}" th:object="${form}" method="post">
    <p>Id: <input type="text" th:field="*{name}" /></p>
    <p>Message: <input type="text" th:field="*{comment}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
